{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center font-weight-light my-2">{% trans "Change Password" %}</h3>
        </div>
        <div class="card-body">
          {% if token_fail %}
            <div class="alert alert-danger">
              {% url 'account_reset_password' as passwd_reset_url %}
              {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </div>
          {% else %}
            <p class="mb-4">{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
            
            <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              
              {% if form.errors %}
              <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                    <p>{{ field|title }}: {{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
              {% endif %}
              
              <div class="form-floating mb-3">
                <input type="password" name="password1" class="form-control" id="id_password1" placeholder="New Password" required>
                <label for="id_password1">{% trans "New Password" %}</label>
              </div>
              
              <div class="form-floating mb-3">
                <input type="password" name="password2" class="form-control" id="id_password2" placeholder="New Password (again)" required>
                <label for="id_password2">{% trans "New Password (again)" %}</label>
              </div>
              
              <div class="form-text mb-3">
                <ul>
                  <li>{% trans "Your password can't be too similar to your other personal information." %}</li>
                  <li>{% trans "Your password must contain at least 8 characters." %}</li>
                  <li>{% trans "Your password can't be a commonly used password." %}</li>
                  <li>{% trans "Your password can't be entirely numeric." %}</li>
                </ul>
              </div>
              
              <input type="hidden" name="next" value="{{ next }}">
              
              <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">{% trans 'Change My Password' %}</button>
              </div>
            </form>
          {% endif %}
        </div>
        <div class="card-footer text-center py-3 bg-light">
          <div class="small">
            <a href="{% url 'account_login' %}" class="text-decoration-none">{% trans "Back to login" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}